<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signUpUser" (ngSubmit)="signUpForm()">

    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      
      <ng-container *ngFor="let validation of validation_messages.email">
        <ion-item *ngIf="signUpUser.get('email').hasError(validation.type) && (signUpUser.get('email').dirty || signUpUser.get('email').touched)">
          <p>{{validation.message}}</p>
          </ion-item>
      </ng-container>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="user.password" ></ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of validation_messages.password">
        <ion-item *ngIf="signUpUser.get('password').hasError(validation.type) && (signUpUser.get('password').dirty || signUpUser.get('password').touched)">
          <p>{{validation.message}}</p>
        </ion-item>
      </ng-container>

      <ion-item>
        <ion-label floating>Date Of Birth</ion-label>
        <ion-datetime formControlName="dateofbirth" displayFormat="MMM DD, YYYY" [(ngModel)]="user.dateofbirth"></ion-datetime>
      </ion-item>

      <ng-container *ngFor="let validation of validation_messages.dateofbirth">
        <ion-item *ngIf="signUpUser.get('dateofbirth').hasError(validation.type) && (signUpUser.get('dateofbirth').dirty || signUpUser.get('dateofbirth').touched)">
          <p>{{validation.message}}</p>
        </ion-item>
      </ng-container>
    </ion-list>

    <button ion-button type="submit" block>Sign Up</button>

  </form>


  <p>By signing up, you agree with the Terms of Service, as well as to receive occasional emails from us.</p>

  <hr/>

  <ion-item (click)="navToLogin()">
    <ion-label>Already a member?<span> Log in.</span></ion-label>
  </ion-item>

</ion-content>
