<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Goal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Header of Goal Section -->
  <div class="goal-section-header">
    <div id="profile-info" padding>
      
      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <img id="profile-image" [src]="currentProfile.picture.medium">
          </ion-col>
          <ion-col>
              <span class="goal-username-and-goal">{{ currentProfile.login.username }}</span>
              <span class="goal-filling-text">is going to </span>
              <span class="goal-username-and-goal">{{ currentProfileGoals.goal }}</span>       
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <br/>
                <span class="support" menuClose (click)="navToSupporting()">3 Supporting</span>
                <br/>
                <br/>
                <span class="support" menuClose (click)="navToSupporters()">0 Supporters</span>                
            </ion-col>
            <ion-col>
              <button ion-button (click)="becomeASupporter()" color="danger">Become A Supporter!</button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- Goal Description -->
  <div class="goal-description">
    <ion-card>
      <ion-card-header>
        Description of Goal
      </ion-card-header>
      <ion-card-content>
        {{ currentProfileGoals.goaldescription }}
      </ion-card-content>

      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name="share-alt"></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!-- Goal Progression Accordion -->
  <ion-list class="accordion-list" no-padding no-lines text-wrap>
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <ion-row>
        <ion-col col-2>
          <ion-item>
            <ion-checkbox checked="{{item.completed}}"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleSection(i)" detail-none text-wrap [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-row>
              <ion-col col-9>
                {{ item.name }}
              </ion-col>
              <ion-col col-3>
                {{ item.price | currency:'USD':true }}
              </ion-col>
            </ion-row>
              <ion-icon item-right name="arrow-forward" *ngIf="item.children && !item.open"></ion-icon>
              <ion-icon item-right name="arrow-down" *ngIf="item.children && item.open"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  
      <ion-list *ngIf="item.children && item.open" no-lines no-padding>
        <!-- Second Level -->
        <ion-list *ngFor="let child of item.children; let j = index" no-padding>
          <ion-row>
            <ion-col col-2>
                <ion-item>
                  <ion-checkbox checked="{{child.completed}}"></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-10>
              <!-- Toggle Button -->
                <button ion-item (click)="toggleItem(i, j)" class="child" detail-none text-wrap>
                  <ion-row>
                    <ion-col col-9>
                        {{ child.name }}
                    </ion-col>
                    <ion-col col-3>
                      {{ child.price | currency:'USD':true }}
                    </ion-col>
                  </ion-row>
                  <!-- {{ child.name }} -->
                  <ion-icon item-right name="arrow-forward" *ngIf="child.children && !child.open"></ion-icon>
                  <ion-icon item-right name="arrow-down" *ngIf="child.children && child.open"></ion-icon>
                </button>
            </ion-col>
          </ion-row>
  
          <ion-list *ngIf="child.children && child.open" >
            <!-- Third Level -->
            <ion-row *ngFor="let item of child.children; let k = index">
              <ion-col col-2>
                <ion-item >
                  <ion-checkbox checked="{{item.completed}}"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col col-10>
                <ion-item  detail-none class="child-item" text-wrap>
                  <ion-row>
                    <ion-col col-9>
                      {{ item.name }}
                    </ion-col>
                    <ion-col col-3>
                      {{ item.price | currency:'USD':true }}
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-list>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>
  